/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Heading*/

h1{
	text-align: center;
	font-size: 2em;
	padding: 20px 5px 20px 5px;
}

h2,h3{
	text-align: center;
	color: #f77f00;
	font-weight: bold;
	font-size: 1.4em;
	font-family: 'Roboto Condensed'
}

h2{
	font-size: 1.4em;
}

h3{
	font-size: 1.1em;
	text-align: center	;
}
/*Flex Display*/

article{
	display: flex;
	margin: 0 2% 0 2%;
	flex-wrap: wrap;
	gap: 2%;
	justify-content: center;

}

section{
	display: flex; 
	width: 40%;
	align-items: center;
	justify-content: center;
}

.column, .column_reverse{
    align-items: initial;
	width: 2em;
}

section div{
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-shrink: 0;
flex-basis: 2em;
width: 30px;
height: 30px;
}

.row_reverse{

	animation-name: row_to_rowreverse;
	animation-fill-mode: forwards;
	animation-duration: 5s;
	animation-timing-function:ease-out;
}

.column{
	animation-name: row_to_column;
	animation-fill-mode: forwards;
	animation-duration: 8s;
	animation-timing-function:ease-out;
}

.column_reverse{
	animation-name: row_to_column_reverse; 
	animation-fill-mode: forwards;
	animation-duration: 10s;
	animation-timing-function:ease-out;
}


section div:nth-child(1){
	background-color: #003049;
}
section div:nth-child(2){
	background-color: #d62828;
}
section div:nth-child(3){
	background-color: #f77f00;
}
section div:nth-child(4){
	background-color: #fcbf49;
}
section div:nth-child(5){
	background-color: #eae2b7;
}

.row_content, .row_reverse_content, .column_content, .column_reverse_content{
	display:flex;
	flex-direction: column;
	width: 48%;
	height: 250px;
	margin: 7% 0 4% 0;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	border: 1px solid #cbcbcb;
	border-radius: 8px;
	background: #fffcf6;
}

span{
	display: block;
}

/*Justify content*/

.justify_content{
	display: flex;
	
	gap:4%;
}

.initial{
	display: flex;
	width:100%;
	margin-bottom: 4%;
	flex-direction: column;
	height: 200px;
	justify-content: space-around;
	border: 1px solid #cbcbcb;
	border-radius: 8px;
	background: #fffcf6;
}

.initial:nth-of-type(-n+2){
	margin-top: 7%;

}

.flexing{
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

.flexing div{
	display: flex;
	flex: inherit;
	flex-basis: 3rem;
	height: 3rem;
	
}

 .flex_end{
	justify-content: flex-start;
 }

 /*Align Item*/


 .align{
	 flex-direction: row;
 }

 .align section{
	 align-items: initial
 }


 /*Align content*/

 .content{
	 flex-direction: row;
 }

 .content section{
	width: fit-content;
	flex-wrap: wrap;
 }

/*To make the animation work of the align items baseline I give different values to each square*/
.flex_align_baseline :nth-child(1){
	flex-basis: 1em;
	height: 1em;
}
.flex_align_baseline :nth-child(2){
	flex-basis: 4em;
	height: 2em;
}
.flex_align_baseline :nth-child(3){
	flex-basis: 3em;
	height: 4em;
}
.flex_align_baseline :nth-child(4){
	flex-basis: 5em;
	height: 3em;
}
.flex_align_baseline :nth-child(5){
	flex-basis: 2em;
	height: 3em;
}
/*Animation*/
@media (prefers-reduced-motion: no-preference) {
	.flex_end_animation {
	  animation: flex_end 6s infinite;
	}

	.flex_center_animation{
		animation: flex_center 4s infinite;
	}
	.flex_space_between_animation{
		animation: flex_space_between 4s infinite;
	}
	.flex_space_around_animation{
		animation: flex_space_around 4s infinite;
	}
	.flex_space_evenly_animation{
		animation: flex_space_evenly 4s infinite;
	}

	.flex_align_end_animation{
		animation: flex_align_end 4s infinite;
	}

	.flex_align_center_animation{
		animation: flex_align_center 4s infinite;
	}

	.flex_align_stretch_animation{
		animation: flex_align_stretch 4s infinite;
	}
	.flex_align_baseline_animation{
		animation: flex_align_baseline 4s infinite;
	}
  }
	



/*Animations*/

@keyframes flex_align_center {
	0%{
		align-items: flex-start;
  }
	100% {
		align-items:center;
	}
	
  } 

  @keyframes flex_align_stretch {
	0%{
		align-items: flex-start;
  }
	100% {
		align-items:stretch;
	}
	
  } 

  @keyframes flex_align_baseline {
	0%{
		align-items: flex-start;
  }
	100% {
		align-items: baseline;
	}
	
  } 
@keyframes flex_align_end {
	0%{
		align-items: flex-start;
  }
	100% {
		align-items: flex-end;
	}
	
  } 

@keyframes flex_space_evenly {
	0%{
		justify-content: flex-start;
  }
	100% {
		justify-content: space-evenly;
	}
	
  } 
  @keyframes flex_space_around {
	0%{
		justify-content: flex-start;
  }
	100% {
		justify-content: space-around;
	}
	
  } 
@keyframes flex_space_between {
	0%{
		justify-content: flex-start;
  }
	100% {
		justify-content: space-between;
	}
	
  } 

@keyframes flex_center {
	0%{
		justify-content: flex-start;
  }
	100% {
		justify-content: center;
	}
	
  } 

 @keyframes flex_end {
	0%{
		justify-content: flex-start;
  }
	100% {
		justify-content: flex-end;
	}
	
  } 

@keyframes row_to_rowreverse {
	0%{
		flex-direction: row;
  }
	100% {
		flex-direction: row-reverse;
	}
	
  }

  @keyframes row_to_column {
	from{
		flex-direction: row;
  }
	to {
		flex-direction: column;
	}
	
  }

  @keyframes row_to_column_reverse {

	100% {
		flex-direction: column-reverse;
	
  }
}


@media (min-width: 768px){
	/*Headings*/
	h1{
		font-size: 3em;
	}

	h2{
		font-size: 2.43em;
		padding: 0px 0px 49px 0px;
	}

	/* article{
		height: 90vh;
	} */

	h3{
		font-size: 2.1em;
	}

	/*Flex Direction*/

	.row_content, .row_reverse_content, .column_content, .column_reverse_content{
		height: 270px;
		margin:0;
		align-items: center;
		justify-content: space-around;
		
	}	

	.column_content, .column_reverse_content{
		flex-direction: row;
	}


	.row div, .row_reverse div{
		flex-basis: 8em;
		width:85px;
		height: 85px;
	}

	.column div, .column_reverse div{
		flex-basis: 3em;
		width: 80px;
		height: 80px;
	}

	/*Justify Content*/

	.justify_content{
		gap: 2%;
		justify-content: center;
	}

	.initial{
		width: 48%;
	}

}

.column_reverse, .column, .row_reverse, .row{
	
	display: flex;
	
	height: 30%;
	align-items: center;

	

}